<html>

  <body>
    <!--header-->
    {{> header}}
    <!--/header-->
    {{{body}}}
    
    <!--footer-->
    <footer class="container-fluid text-center">
      Copyright &copy; 2023 by 21127618
    </footer>
    <!--/footer-->
  </body>

</html>